<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FinanceFlow</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div id="title-container">
        <h1 id="finance-flow" class="app-header">Finance🏦Flow</h1>
      </div>

      <div id="nav-container">
        <nav id="nav-links">
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          {{#if logged_in}}
            <a href="" id="logout-btn">Logout</a>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
      </div>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer></footer>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/chart.js"></script>
  </body>
</html>