<div id="budget-container">
  <div id="budget-form-container">
    <div id="budget-header"><h1>Create A New Budget</h1></div>

    <form id="budget-form">
      <div id="budget-name-field">
        <label for="budget-name"><h4 class="budget-label">Budget Name</h4></label>
        <input type="text" id="budget-name" placeholder="e.g., Groceries" />
      </div>

      <div id="budget-amount-field">
        <label for="budget-amount">
          <h4 class="budget-label">Amount</h4></label>
        <input type="text" id="budget-amount" placeholder="£200" />
      </div>

      <button type="submit" id="budget-btn">Create Budget</button>
    </form>
  </div>
</div>