<div id="home-content">
  <div id="app-info-container">
    <div id="app-info">
      <h2 id="greeting">Welcome to FinanceFlow!</h2>
      <br />
      <p id="app-purpose">
        Our Personal Finance Tracker is designed to help you take control of
        your finances with ease. Whether you want to start saving 💰, reduce
        debt 💳, or plan for the future 📈, our app provides the tools you need
        to manage your money effectively.
      </p>
      <br />
      <p id="app-offers">Here’s what FinanceFlow offers: <br /></p>
      <br />
      <ul>
        <li>
          <span>Track Your Transactions</span>: 📊 Record all your income and
          expenses to see exactly where your money is going.
        </li>
        <li>
          <span>Detailed Financial Overview</span>: 📋 Get a clear breakdown of
          your finances by category, helping you understand your spending
          patterns.
        </li>
        <li>
          <span>Financial Goals Tracking</span>: 🎯 Set and monitor your
          financial goals to stay motivated and on track.
        </li>
      </ul>

      <p id="join-app">
        Start using FinanceFlow today to take the first step towards financial
        clarity and success! 🚀
      </p>

      <button id="sign-up-btn">Get Started!</button>
    </div>

    <div id="finance-img">
      <img
        src="/public/images/image2.jpeg"
        alt="Personal Finance Tracker App"
      />
    </div>
  </div>
</div>

