<div id="new-expense-container">
  <div id="new-expense-form-container">
    <div id="new-expense-header"><h1>Add A New Expense</h1></div>

    <form id="new-expense-form">
      <div id="new-expense-amount-field">
        <label for="new-expense-amount"></label>
        <input type="text" id="new-expense-amount" placeholder="Amount" />
      </div>

      <div id="new-expense-category-field">
        <label for="new-expense-category"></label>
        <input type="text" id="new-expense-category" placeholder="Category" />
      </div>

      <div id="new-expense-date-field">
        <label for="new-expense-date"></label>
        <input type="date" id="new-expense-date" placeholder="Date" />
      </div>

      <button type="submit" id="new-expense-btn">Add New Expense</button>
    </form>
  </div>
</div>

<script src="/js/expenseForm.js"></script>