<div id="new-income-container">
  <div id="new-income-form-container">
    <div id="new-income-header"><h1>Add A New Income</h1></div>

    <form id="new-income-form">
      <div id="new-income-amount-field">
        <label for="new-income-amount"></label>
        <input type="text" id="new-income-amount" placeholder="Amount" />
      </div>

      <div id="new-income-source-field">
        <label for="new-income-source"></label>
        <input type="text" id="new-income-source" placeholder="Source" />
      </div>

      <div id="new-income-date-field">
        <label for="new-income-date"></label>
        <input type="date" id="new-income-date" placeholder="Date" />
      </div>

      <button type="submit" id="new-income-btn">Add New Income</button>
    </form>
  </div>
</div>