:root {
  --colour1: #4caf50;
  --colour2: #4c31ff;
  --colour3: #ffc107;
  --colour4: #ffffff;
  --colour5: grey;
  --colour6: #61df65;
  --colour7: #d40000;
  --colour8: #ff0000;
}

/* UNIVERSAL STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY STYLING */
body {
  font-size: 1.5rem;
  width: 100%;
  font-family: "Lato", sans-serif;
}

/* HEADER STYLING */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
  background-color: var(--colour2);
  box-shadow: 2px 2px 3px var(--colour5);
}

#finance-flow {
  font-size: 2rem;
  color: var(--colour4);
  margin-left: 100px;
}

#nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav-links {
  margin-right: 20px;
}

#nav-links a {
  text-decoration: none;
  padding: 7px 10px;
  font-weight: bold;
  color: var(--colour4);
}

#nav-links a:hover {
  border-bottom: 5px solid var(--colour3);
}

#logout-btn {
  border: none;
  padding: 7px 10px;
  font-weight: bold;
  color: var(--colour4);
  background-color: var(--colour2);
  font-size: 1.5rem;
}

#logout-btn:hover {
  border-bottom: 5px solid var(--colour3);
}
/* ---------------- MAIN SECTION  ---------------- */

/* HOME PAGE STYLING */

#home-content {
  margin-top: 110px;
  display: flex;
  justify-content: center;
}

#app-info-container {
  display: flex;
  align-items: center;
  margin: 0 0 0 85px;
}

#app-info {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#app-summary {
  text-align: center;
}

.greeting {
  font-size: 2rem;
  margin: 0px;
  text-align: left;
}

.loggedin-subheading {
  font-size: 1.5rem;
  margin-top: 10px;
}

#username {
  color: var(--colour2);
}

.subheading,
.finances-subheading {
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: left;
}

.finances-subheading {
  margin-top: -30px;
}

#finances-heading {
  color: var(--colour2);
}

#app-overview {
  margin-top: -20px;
}

#app-purpose {
  font-size: 1.5rem;
  line-height: 1.7;
}

#call-to-action {
  font-size: 1.5rem;
}

.signup-div {
  display: flex;
  justify-content: flex-start !important;
}

.get-started-btn {
  display: block;
  margin: 40px 0px;
  padding: 15px 30px;
  background-color: var(--colour1);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--colour4);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-started-btn:hover {
  background-color: var(--colour6);
}

#finance-img {
  margin-bottom: 90px;
}

.budget-chart-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#budgetChart {
  max-height: 150px;
  max-width: 150px;
  margin-top: 30px;
}

#financial-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px 20px;
  gap: 5px;
}

#totalExpense-amount {
  color: var(--colour7);
}

#total-savings-amount {
  color: var(--colour2);
}

#budget-note,
#savings-note {
  text-align: center;
}

/* SIGN UP STYLING */
#signup-container {
  display: flex;
  justify-content: center;
}

#signup-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#signup-header {
  margin-bottom: 40px;
}

#signup-form {
  width: 100%;
}

#signup-name,
#signup-email,
#signup-password,
#signup-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#signup-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#signup-btn:hover {
  background-color: var(--colour6);
}

/* LOGIN FORM STYLING */
#login-container {
  display: flex;
  justify-content: center;
}

#login-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#login-header {
  margin-bottom: 40px;
}

#login-form {
  width: 100%;
}

#login-email,
#login-password,
#login-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#login-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#login-btn:hover {
  background-color: var(--colour6);
}

/* DASHBOARD PAGE STYLING */
#dashboard-container {
  margin: 20px 50px;
}

#chart-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.income-chart-container,
.expense-chart-container {
  flex: 1;
  margin-right: 20px;
  max-width: 700px;
}

.expense-chart-container {
  margin-right: 0;
  margin-top: -95px;
  max-width: 500px;
}

#table-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.transactions-container {
  flex: 1;
  margin: 0 10px;
}

#income-table,
#expense-table {
  width: 100%;
  border-collapse: collapse;
}

#income-table th,
#expense-table th,
#income-table td,
#expense-table td {
  border: 1px solid black;
  padding: 10px 15px;
}

#income-table th,
#expense-table th {
  background-color: var(--colour5);
  color: white;
  font-size: 1.25rem;
}

#income-table td,
#expense-table td {
  font-size: 1.1rem;
}

#income-tr {
  background-color: rgb(220, 255, 220);
}

#expense-tr {
  background-color: rgb(255, 220, 220);
}

#income-tr:hover,
#expense-tr:hover {
  background-color: lightblue;
  transition: background-color 0.5s;
}

#new-transaction-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#add-income-btn,
#add-expense-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

#add-income-btn {
  background-color: var(--colour1);
  box-shadow: 3px 3px 5px var(--colour5);
}

#add-expense-btn {
  background-color: var(--colour7);
  box-shadow: 3px 3px 5px var(--colour5);
}

#add-income-btn:hover {
  background-color: var(--colour6);
  box-shadow: 3px 3px 5px black;
}

#add-expense-btn:hover {
  background-color: red;
  box-shadow: 3px 3px 5px black;
}

/* NEW INCOME FORM STYLING */
#new-income-container {
  display: flex;
  justify-content: center;
}

#new-income-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#new-income-header {
  margin-bottom: 40px;
}

#new-income-form {
  width: 100%;
}

#new-income-amount,
#new-income-source,
#new-income-date,
#new-income-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#new-income-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#new-income-btn:hover {
  background-color: var(--colour6);
}

/* NEW EXPENSE FORM STYLING */
#new-expense-container {
  display: flex;
  justify-content: center;
}

#new-expense-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#new-expense-header {
  margin-bottom: 40px;
}

#new-expense-form {
  width: 100%;
}

#new-expense-amount,
#new-expense-category,
#new-expense-date,
#new-expense-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#new-expense-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#new-expense-btn:hover {
  background-color: var(--colour6);
}

/* UPDATE INCOME FORM STYLING */
#update-income-container {
  display: flex;
  justify-content: center;
}

#update-income-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#update-income-header {
  margin-bottom: 40px;
}

#update-income-form {
  width: 100%;
}

#update-income-amount,
#update-income-source,
#update-income-date,
#update-income-btn,
#delete-income-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#update-income-btn,
#delete-income-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#update-income-btn:hover {
  background-color: var(--colour6);
}

#delete-income-btn {
  margin-top: 0px;
  background-color: var(--colour7);
}

#delete-income-btn:hover {
  background-color: var(--colour8);
}

/* UPDATE EXPENSE FORM STYLING */
#update-expense-container {
  display: flex;
  justify-content: center;
}

#update-expense-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#update-expense-header {
  margin-bottom: 40px;
}

#update-expense-form {
  width: 100%;
}

#update-expense-amount,
#update-expense-category,
#update-expense-date,
#update-expense-btn,
#delete-expense-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#update-expense-btn,
#delete-expense-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#update-expense-btn:hover {
  background-color: var(--colour6);
}

#delete-expense-btn {
  margin-top: 0px;
  background-color: var(--colour7);
}

#delete-expense-btn:hover {
  background-color: var(--colour8);
}

/* BUDGET FORM STYLING  */
#budget-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#budget-form-container {
  margin-top: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#budget-header {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

#budget-form {
  width: 100%;
}

#budget-amount,
#budget-name,
#budget-btn {
  width: 100%;
  padding: 10px 8px;
  font-size: 1.2rem;
  border-radius: 7px;
  margin-bottom: 10px;
}

.budget-label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#budget-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

#budget-btn:hover {
  background-color: var(--colour6);
}

/* EXISTING BUDGETS TABLE STYLING */
#budget-table-container {
  display: flex;
  justify-content: center;
}

#budget-table {
  border-collapse: collapse;
  width: 70%;
}

#budget-table th,
#budget-table td {
  border: 1px solid black;
  padding: 10px 20px;
}

#budget-table th {
  background-color: var(--colour5);
  color: white;
  font-size: 1.25rem;
}

#budget-table td {
  font-size: 1.1rem;
}

.budget-amounts {
  text-align: right;
}

#budget-tr {
  background-color: rgb(255, 239, 220);
  transition: background-color 0.5s;
}

#budget-tr:hover {
  background-color: lightblue;
}

/* UPDATE BUDGETS FORM STYLING */
#update-budget-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#update-budget-form-container {
  margin-top: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#update-budget-header {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

#update-budget-form {
  width: 100%;
}

#update-budget-amount,
#update-budget-name,
#update-budget-btn,
#delete-budget-btn {
  width: 100%;
  padding: 10px 8px;
  font-size: 1.2rem;
  border-radius: 7px;
  margin-bottom: 10px;
}

#update-budget-btn,
#delete-budget-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

#update-budget-btn:hover {
  background-color: var(--colour6);
}

#delete-budget-btn {
  margin-top: 0px;
  background-color: var(--colour7);
}

#delete-budget-btn:hover {
  background-color: var(--colour8);
}

/* RESPONSIVE DESIGN */
@media (max-width: 1485px) {
  /* HOME PAGE */
  #app-info-container {
    margin: 0px;
  }

  #app-info-container {
    flex-direction: column;
  }

  .subheading,
  .finances-subheading,
  .app-purpose,
  #call-to-action {
    text-align: center;
  }

  .subheading,
  .finances-subheading {
    margin-bottom: 30px;
  }

  #app-purpose {
    line-height: 2;
  }

  .greeting,
  .loggedin-subheading {
    text-align: center;
  }

  .loggedin-subheading {
    margin-top: 15px;
  }

  .budget-chart-container {
    margin-top: 30px;
  }

  .signup-div {
    justify-content: center !important;
    margin: 45px 0px 0px 0px;
  }

  #finance-img {
    margin-bottom: 50px;
  }
}

@media (max-width: 950px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 15px 0px;
  }

  #finance-flow,
  #nav-links {
    margin: 0;
  }

  #nav-links {
    margin-top: 40px;
  }
}

@media (max-width: 750px) {
  /* HOME PAGE */
  #finance-flow {
    margin-left: 0px;
  }

  .subheading,
  .finances-subheading {
    font-size: 3rem;
  }

  #app-purpose,
  #call-to-action {
    font-size: 1.25rem;
    text-align: center;
  }

  .get-started-btn {
    font-size: 1.25rem;
  }

  #finance-img {
    width: 100%;
  }

  #finance-img img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  /* HOME PAGE */
  header {
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 15px 0px;
  }

  #nav-links {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    margin: 0px;
  }

  #logout-btn {
    font-size: 1.1rem;
  }

  #finance-flow,
  #nav-links {
    margin: 0;
  }

  #nav-links {
    margin-top: 50px;
  }

  .subheading,
  .finances-subheading {
    font-size: 2.5rem;
  }

  .budget-chart-container {
    flex-direction: column;
    align-items: center;
  }

  #financial-summary {
    margin-top: 30px;
    text-align: center;
  }

  .get-started-btn {
    font-size: 1.1rem;
  }
}
