:root {
  --colour1: #4caf50;
  --colour2: #2196f3;
  --colour3: #ffc107;
  --colour4: #ffffff;
  --colour5: grey;
  --colour6: #61df65;
  --colour7: #d40000;
  --colour8: #ff0000;
}

/* UNIVERSAL STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY STYLING */
body {
  font-size: 1.5rem;
  width: 100%;
  font-family: "Lato", sans-serif;
}

/* HEADER STYLING */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0px 30px 0px;
  background-color: #2196f3;
  box-shadow: 2px 2px 3px var(--colour5);
}

#finance-flow {
  font-size: 3rem;
  color: var(--colour4);
  margin-left: 100px;
}

#nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav-links {
  margin-right: 20px;
}

#nav-links a {
  text-decoration: none;
  padding: 7px 10px;
  font-weight: bold;
  color: var(--colour4);
}

#nav-links a:hover {
  border-bottom: 5px solid var(--colour3);
}

#logout-btn {
  border: none;
  padding: 7px 10px;
  font-weight: bold;
  color: var(--colour4);
  background-color: var(--colour2);
  font-size: 1.5rem;
}

#logout-btn:hover {
  border-bottom: 5px solid var(--colour3);
}
/* ---------------- MAIN SECTION  ---------------- */

/* HOME PAGE STYLING */

#home-content {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-info-container {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 0 0 50px;
}

#app-info {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#app-summary {
  text-align: center;
}

.greeting {
  font-size: 2.5rem;
  color: var(--colour7);
  margin-bottom: 20px;
  text-align: center;
}

.subheading {
  font-size: 2rem;
  color: rgb(55, 0, 255);
  margin-bottom: 50px;
  text-align: center;
}

#app-purpose {
  font-size: 1.5rem;
  margin-bottom: 40px;
  line-height: 1.5;
}

#app-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
}

.feature-icon {
  font-size: 2rem;
}

.feature-text {
  font-size: 1.25rem;
  font-weight: 500;
}

#call-to-action {
  margin-top: 30px;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}

.get-started-btn {
  display: block;
  margin: 40px auto;
  padding: 15px 30px;
  background-color: var(--colour1);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--colour4);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-started-btn:hover {
  background-color: var(--colour6);
}

#finance-img {
  margin-bottom: 90px;
}

/* SIGN UP STYLING */
#signup-container {
  display: flex;
  justify-content: center;
}

#signup-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#signup-header {
  margin-bottom: 40px;
}

#signup-form {
  width: 100%;
}

#signup-name,
#signup-email,
#signup-password,
#signup-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#signup-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#signup-btn:hover {
  background-color: var(--colour6);
}

/* LOGIN FORM STYLING */
#login-container {
  display: flex;
  justify-content: center;
}

#login-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#login-header {
  margin-bottom: 40px;
}

#login-form {
  width: 100%;
}

#login-email,
#login-password,
#login-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#login-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#login-btn:hover {
  background-color: var(--colour6);
}

/* TRANSACTIONS STYLING */
.transactions-container {
  margin: 20px;
}

.table-name {
  margin-bottom: 7px;
}

table {
  /* width: 40%; */
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
  padding: 10px 20px;
}

th {
  background-color: var(--colour5);
  color: white;
  font-size: 1.25rem;
}

td {
  font-size: 1.1rem;
}

.amount-data {
  text-align: end;
}

.date-data {
  text-align: center;
}

#income-tr:hover,
#expense-tr:hover {
  background-color: lightblue;
}

#new-transaction-buttons {
  margin: 50 0 10 20;
}

#add-income-btn,
#add-expense-btn {
  padding: 20px 35px;
  border: none;
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 15px 10px 0;
  color: var(--colour4);
}

#add-income-btn {
  background-color: var(--colour1);
  box-shadow: 3px 3px 5px var(--colour5);
}

#add-expense-btn {
  background-color: var(--colour7);
  box-shadow: 3px 3px 5px var(--colour5);
}

#add-income-btn:hover {
  background-color: var(--colour6);
  box-shadow: 3px 3px 5px black;
}

#add-expense-btn:hover {
  background-color: red;
  box-shadow: 3px 3px 5px black;
}

/* NEW INCOME FORM STYLING */
#new-income-container {
  display: flex;
  justify-content: center;
}

#new-income-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#new-income-header {
  margin-bottom: 40px;
}

#new-income-form {
  width: 100%;
}

#new-income-amount,
#new-income-source,
#new-income-date,
#new-income-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#new-income-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#new-income-btn:hover {
  background-color: var(--colour6);
}

/* NEW EXPENSE FORM STYLING */
#new-expense-container {
  display: flex;
  justify-content: center;
}

#new-expense-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#new-expense-header {
  margin-bottom: 40px;
}

#new-expense-form {
  width: 100%;
}

#new-expense-amount,
#new-expense-category,
#new-expense-date,
#new-expense-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#new-expense-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#new-expense-btn:hover {
  background-color: var(--colour6);
}

/* UPDATE INCOME FORM STYLING */
#update-income-container {
  display: flex;
  justify-content: center;
}

#update-income-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#update-income-header {
  margin-bottom: 40px;
}

#update-income-form {
  width: 100%;
}

#update-income-amount,
#update-income-source,
#update-income-date,
#update-income-btn,
#delete-income-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#update-income-btn,
#delete-income-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#update-income-btn:hover {
  background-color: var(--colour6);
}

#delete-income-btn {
  margin-top: 0px;
  background-color: var(--colour7);
}

#delete-income-btn:hover {
  background-color: var(--colour8);
}

/* UPDATE EXPENSE FORM STYLING */
#update-expense-container {
  display: flex;
  justify-content: center;
}

#update-expense-form-container {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#update-expense-header {
  margin-bottom: 40px;
}

#update-expense-form {
  width: 100%;
}

#update-expense-amount,
#update-expense-category,
#update-expense-date,
#update-expense-btn,
#delete-expense-btn {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5rem;
  border-radius: 7px;
  margin-bottom: 15px;
}

#update-expense-btn,
#delete-expense-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
}

#update-expense-btn:hover {
  background-color: var(--colour6);
}

#delete-expense-btn {
  margin-top: 0px;
  background-color: var(--colour7);
}

#delete-expense-btn:hover {
  background-color: var(--colour8);
}

/* BUDGET FORM STYLING  */
#budget-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#budget-form-container {
  margin-top: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aliceblue;
  padding: 30px 60px;
  border: 3px solid var(--colour5);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--colour5);
}

#budget-header {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

#budget-form {
  width: 100%;
}

#budget-amount,
#budget-name,
#budget-btn {
  width: 100%;
  padding: 10px 8px;
  font-size: 1.2rem;
  border-radius: 7px;
  margin-bottom: 10px;
}

.budget-label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#budget-btn {
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--colour1);
  color: var(--colour4);
  border: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

#budget-btn:hover {
  background-color: var(--colour6);
}

/* CHARTS STYLING */
.transactions-container,
.chart-container {
  display: inline-block;
  vertical-align: top;
}

.chart-container {
  margin-left: 400px;
}

.income-chart-container {
  width: 900px;
}

.expense-chart-container {
  width: 650px;
  margin-left: 150px;
}
